<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title> Covid Tracker</title>
</head>
<body>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">COVID19 TRACKER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                </ul>
    
            </div>
        </nav>
        <div class="form-group">
<p>
    <h4>&nbsp;	&nbsp;	1) COVID_19 MISINFORMATION CHECK - SENTIMENTAL ANALYSIS </h4>
    <p>&nbsp;	&nbsp;	Covid 19 is proving to be a unique challenge for our society, most particularly because of the amount of misinformation being shared through both Social media and state-affiliated media.
        The purpose of this project is to use known misinformation and build an aPI that accepts a news title and predicts whether the title is likely to be misinformation by Scraping the news about Covid 19 and modelling it to various NLP feature engineering and ML Models</p>
<BR>
    
        <H4>&nbsp;	&nbsp; 2) COVID19 PROBABILITY PREDICTOR
        </H4>
       <P>&nbsp;	&nbsp;	Systopms will be the key detector od any disease.Likwise we have taken the essential symptoms of Corono and built a ML model for predicting the probability of getting affected by corona</P>
        <BR>
           <H4>&nbsp;	&nbsp;3) COVID-19 DETECTION WITH CHEST X-RAY </H4>
           <P>&nbsp;	&nbsp;	The detection of severe acute respiratory syndrome coronavirus 2 (SARS CoV-2), which is responsible for coronavirus disease 2019 (COVID-19), using chest X-ray images has life-saving importance for both patients and doctors. In addition, in countries that are unable to purchase laboratory kits for testing, this becomes even more vital. In this study, we aimed to present the use of deep learning for the high-accuracy detection of COVID-19 using chest X-ray images</P>
    &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;<a href="/form"><h3>&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;Get Started</h3></a>
    <p></p></div>
</body>

</html>